/* змінні */

:root {
  --paragraph-primary-color: #434455;
  --title-primary-color: #2e2f42;
  --title-secondary-color: #ffffff;
  --brand-color: #4d5ae5;
  --background-primary-color: #ffffff;
  --nav-link-color: #2e2f42;
  --contacts-link-color: #434455;
  --link-hover-color: #4d5ae5;
  --byn-background-color: #f4f4fd;
}

/* скидаємо верхні і нижні зовнішні відступи */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

  ul {
  margin: 0;
  padding: 0;
}  

img {
  display: block;
}
.conteiner {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

/* ========================== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*======header========= */
/* подчеркиваем */
.nav-link.no-decoration::after {
content: "";
display: block;
width: 100%;
height: 2px;
position: absolute;
left: 0;
bottom: 0;
background-color: #404BBF;
opacity: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.no-decoration:hover::after {
 opacity: 1;
}

.nav-link.no-decoration {
position: relative;
}

/* подчеркиваем конец кода */

.header-conteiner {
  display: flex;
  justify-content: space-between;
}


.nav-list {
  display: flex;
 }
 
.nav-item {
  margin-right: 40px;
 }

/* =======conteiner======== */




body {
  background-color: var(--background-primary-color);
  color: var(--background-primary-color);
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}
.no-decoration {
  text-decoration: none;
}
.link-no-decoration {
  text-decoration: none;
} 
.nav-link-no-decoration {
  text-decoration: none;
}
.portfolio-link {
text-decoration: none;
}

.nav-link-no-decoration {
  text-decoration: none
}


/* logo */

.header-conteiner {
  display: flex;
  justify-content: space-between;
}


/* logo */

.page-header {
  margin-bottom: 0;
}

.logo {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800; 
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--title-primary-color);
}

/* Navigation */

.nav-list {
  display: flex;
 }
 
.nav-item {
  margin-right: 40px;
 }

.nav-link {
  color: var(--nav-link-color);
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.contacts-link {
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--contacts-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--link-hover-color);
}

.nav-item {
  color: #2E2F42;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.02em;
} 

.nav-item:not(:last-child) {
  margin-right: 40px;
 }


 .nav-list {
  display: flex;
  margin: 0px;
  padding: 0px;
} 
 .nav-list .nav-link {
   display: block; 
  padding-top: 24px;
  padding-bottom: 24px;
 }

  /* contacts */

.contacts  {
  display: flex; 
  align-items: center;
}

 .contacts-item {
  margin-left: 40px;

}

.contacts-item:first-child {
  margin-left: 0;
}


.nav {
  display: flex;
  align-items: center;
}

/*відступ між лого та студіо */

.nav-list {
  margin-left: 77px;
}

/* Hero */
.hero-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, 
.hero-btn:focus {
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
background-color: #404BBF;
}


.hero {
  max-width: 1440px; margin: 0 auto;
  background-color:  #2E2F42;
  padding: 192px 0;
  text-align: center;
  background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/group-people-working-website-template.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   } 


.hero-title {
  max-width: 492px;
  margin: 0 auto;
  margin-bottom: 40px;

  color: var(--secondary-title-color);
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.36;

}


  

.hero-btn {
  background-color: var(--brand-color);
  font-family: inherit;
  font-weight: 600;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--title-secondary-color);
  cursor: pointer;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}



.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  
 
  color: var(--title-primary-color);

 
}



/* Features section*/

.section {
  padding-top: 120px;
  /* padding-bottom: 120px; */
}   

.features-list > .features-item {

   width: 264px; 
  
  flex-basis: calc((100% - 72px) / 4);
}

.features-list {
  padding: 0;
  margin: 0;
  /* list-style: 0; */
  display: flex;
  /* outline: 1px solid tomato; */
  gap: 24px;

}


.features-item .item-title {
 
  margin-bottom: 8px;

  
}

.item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-primary-color);

}

.description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-primary-color);
}
.features-icons {
  background-color: #F4F4FD;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  
}


/* Works section*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0; 
}

.works-list {
  flex-basis: calc((100% - 48px)/3);
}




/* ставимо в один ряд */

.works-list {
  display: flex;
} 




/* Team section */
.section-team .teams {
  gap: 24px;
}
.team-list .description {
  margin-top: 8px;
}

.member-wrap {
 margin-top: 32px;
 margin-bottom: 32px;
 margin-left: 16px;
 margin-right: 16px;
 text-align: center;
 
}

.section-team {
  background: #F4F4FD;
  padding-bottom: 120px;
  margin-top: 120px;
  
}


.team-item {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 1px 6px rgba(46, 47, 66, 0.08);
}


.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
}

.social-list-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.section-team .description {
  margin-bottom: 12px;
}
.social-list-icon {
  fill: #F4F4FD;
  
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #31D0AA;
}
/* ======Portfolio======= */
/* overley */


.overley {
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  position: absolute;
  max-width: 360px;
  left: 0;
  top: 0;
  height: 100%;
 
  background-color: #4d5ae5;
  overflow: hidden;
 
 transform: translate(0, 100%);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);




 font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

color: #F4F4FD;
}


.overley-div {
  position: relative;
  display: block;
  overflow: hidden;
}
.portfolio-link:hover .overley {
  transform: translate(0, 0); 

}

.portfolio-link:focus .overley {
  transform: translate(0, 0); 

}







/* ..... */
.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition:  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 1px 6px rgba(46, 47, 66, 0.08);
}



.section-bnt {
  margin-top: auto;
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-bnt {
  background-color: var(--byn-background-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  cursor: pointer;
  border: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.portfolio-filter-bnt:hover,
.portfolio-filter-btn:focus {
  background-color: var(--brand-color);
  color: var(--background-primary-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}


.portfolio-filter {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-bottom: 72px;  
  

} 

.portfolio-filter-item {
    margin-left: 24px;
  
}

.portfolio-filter-item:last-child {
  margin-right: 0;
  
}

.text-background {
  color: var(--background-primary-color);
  
}


.portfolio-list {
  /* outline: 2px solid tomato; */
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  
}

.portfolio-list > .portfolio-item {
  

 flex-basis: calc((100% - 48) / 3);
 
} 

.portfolio-list .item-decoration {
  margin-bottom: 8px;

}
.portfolio-card {
padding-top: 32px;
padding-bottom: 32px;
padding-left: 16px;
padding-right: 16px;
border: 0.05px;

}
/* sechion custimer */
.customer-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customerss-icon {
  display: flex;
  gap: 24px;  
} 

.customers-li {
  width: 168px;
  height: 88px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}
  
.customers-use {
  border: 1px solid #8e8f99;
  height: 100%;
  width: 100%;
  fill: #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),  border 250ms cubic-bezier(0.4, 0, 0.2, 1),  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .customer-section .item-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-primary-color); 
   }

 .customers-use:hover,
 .customers-use:focus {
  color:#404BBF;
  border: 1px solid #404BBF;
  fill: currentColor;
 }  

 
/* Footer */

.footer {
  background-color: var(--title-primary-color);
  padding: 100px 0;
}
.logo-footer {
  color: var(--background-primary-color);
}

.footer .logo {
  margin-bottom: 188px;
  
}

.footer-desc {
  width: 264px;
  margin-top: 16px;
} 



.footer .conteiner {
  display: flex;
}
.footer-icon-div {
  width: 208px;
  height: 80px;
  margin-left: 120px;
}

.footer-icon-text {
letter-spacing: 0.02em; 
line-height: 24px;
margin-bottom: 16px;
} 


.footer-social {
  display: flex;
  gap: 16px;

}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* margin-top: 16px; */
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: pink;
}
.social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover,
.social-list-item:focus {
  background-color: #31D0AA;
} 

.social-icons-list {
  display: flex;
  width: 168px;
  height: 88px;
 
}
 

/*======================== modal=========================== */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-color: rgba(46, 47, 66, 0.4); 
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
left: 50%;
width: 408px;
height: 576px;
background-color: #FCFCFC;

transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 72px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-close-btn {
  position:absolute;
  top:24px;
  right: 24px;
  display: flex;
  
justify-content: center;
align-items: center;
width: 24px;
height: 24px;
border-radius: 50%;

  background-color: transparent;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}




.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404BBF;
border-color: #404BBF;
}




.modal-close-btn:hover .moda-close-btn-icon,
.modal-close-btn:focus .moda-close-btn-icon {
  fill: #F4F4FD;
 
}

.moda-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
/*//////////////////////MODAL FORM//////////////////////////// */
.modal-form {
display: flex;
flex-direction: column;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid #4D5AE5;
  border-radius: 4px;
  padding-left: 38px;
  transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
  font-weight: 400px;
  color:  #8E8F99;
}
.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-icon {
  display: block;
  width: 12px;
  height: 12px;
  color: #2e2f42;
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-wrapper{
  position: relative;
}

.modal-form-input:focus {
  outline: none;
  border-color: #4D5AE5;
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: #4D5AE5;
}
/* texteriy */
.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
 padding: 8px 16px;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 border-radius: 4px;
}

.modal-form-message:focus {
  outline: none;
  border-color: #4D5AE5;
}
.modal-form-message::placeholder{
  font-size: 12px;

color: rgba(117, 117, 117, 0.5);
}

/* checkbox */
.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #404BBF;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}
.moda-form-check:checked + .modal-form-check-desc::before {

  background-color: rgba(77, 90, 229, 1);
  background-image:url(../images/clic.jpg);
  border: 1.25px solid #4D5AE5;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #757575;
margin-bottom: 24px;

}

.modal-form-submit {
  outline: none;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  
background-color: #4D5AE5;
color: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
  
}
.modal-form-submit:focus,
.modal-form-submit:hover {
  background: #404BBF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}