/* змінні */

:root {
  --paragraph-primary-header-conteinerolor: #434455;
  --title-primary-color: #2e2f42;
  --title-secondary-color: #ffffff;
  --brand-color: #4d5ae5;
  --background-primary-color: #ffffff;
  --nav-link-color: #2e2f42;
  --contacts-link-color: #434455;
  --link-hover-color: #4d5ae5;
  --byn-background-color: #f4f4fd;
}

/* скидаємо верхні і нижні зовнішні відступи */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

  ul {
  margin: 0;
  padding: 0;
}  

img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} 
body {
  background-color: var(--background-primary-color);
  color: var(--nav-link-color);
  font-family: 'Roboto';
}

ul {
  list-style: none;
}
.no-decoration {
  text-decoration: none;
}
.link-no-decoration {
  text-decoration: none;
} 
.nav-link-no-decoration {
  text-decoration: none;
}
/* conteiner */
.conteiner {
  padding-left: 16px;
  padding-right: 16px;
  overflow: auto;

  

  }


  @media screen and (min-width: 480px) {
    .container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 736px;
    }
}


/* logo modal */
 @media screen and (max-width: 767px) {
  
.nav-list {
  display: none;
}
.contacts {
  display: none;
}
} 

 .header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}  



.no-decoration {
  text-decoration: none;
}


/* logo */

 .page-header {
  margin-bottom: 0;
}

.logo {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800; 
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--title-primary-color);
} 

@media screen and (max-width: 765px) {
.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
} 

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  max-height: 796px;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
} 

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} 

 .contacts-mobile {
 display: block;
 margin-top: 284px;
 margin-bottom: 40px;
}
  

.nav-list {
  padding-bottom: 40px;
} 
 .mobil-menu-conteiner {
    position: relative;
  padding-left: 40px;
  padding-top: 80px;
 
}
.mobile-menu_close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
 
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}


.nav-link {
  width: 109px;
height: 40px;
  color: var(--nav-link-color);
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  font-size: 36px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}  


.contacts-link-mobile {
  
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--contacts-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 


 .contacts-item-mobile {
  margin-left: 40px;

}

.nav-item-mobile:not(:last-child) {
  padding-bottom: 40px;
 }

 

.social-list-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px 56px;
  
flex-wrap: wrap;
}
.contacts-link-mobile-tel {
  display: block;
  font-weight: 600;
font-size: 36px;
line-height: 40px;
  letter-spacing: 0.02em;
  padding-bottom: 40px;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link-mobile-email {
  font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #434455;
}

@media screen and (max-width: 427px) {
  .contacts-link-mobile-tel {
    font-size: 15px;
  }
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--brand-color);
}


}


/* СТИЛІ ХЕРО */
.hero-title {
  max-width: 492px;
  margin: 0 auto;
  margin-bottom: 40px;

  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.36;

}


  

.hero-btn {
  background-color: var(--brand-color);
  font-family: inherit;
  font-weight: 600;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--title-secondary-color);
  cursor: pointer;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}

.hero-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, 
.hero-btn:focus {
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
background-color: #404BBF;
} 

@media screen and (max-width: 427px) {
.hero {
  max-width: 428px;
   margin: 0 auto;
  background-color:  #2E2F42;
  padding: 112px 0;
  text-align: center;
  background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/mobile-1xbg.jpg);
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   }  

    @media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-width: 768px) {
 .hero {
  background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/mobile-bg@2x.jpg);}
} 
}
      

/* СТИЛІ НА ПДАНШЕТІ */
@media screen and (min-width: 767px) {
  .mobile-menu {
    display: none;
  
  }
.mobile-menu-open {
  display: none;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
 }
 
.nav-item {
  margin-right: 40px;
 }

.nav-link {
  color: var(--nav-link-color);
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.nav-item:not(:last-child) {
  margin-right: 40px;
 }
 
 .logo-accent {
  margin-right: 123px;
 }
 /* подчеркиваем */
 .nav-link.no-decoration::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #404BBF;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .nav-link.no-decoration:hover::after {
   opacity: 1;
  }
  
  .nav-link.no-decoration {
  position: relative;
  } 
  .nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--link-hover-color);
}
.nav-item {
  color: #2E2F42;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.02em;

} 
.contacts-link {
  color: #2e2f42;
  font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.04em;

}
}

/* СТИЛІ ХЕРО */
/* стилі на планшет херо */

@media (min-width: 428px), (max-width: 767px) {
.hero {
  max-width: 768px; margin: 0 auto;
  background-color:  #2E2F42;
  padding: 112px 0;
  text-align: center;
  background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/planshet1bg.jpg);
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   }  

    @media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-width: 768px) {
 .hero {
  background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/planshet@2x.jpg);}
} 
}


/* СТИЛІ НА ДЕКСТОП */

@media screen and (min-width: 1200px) {
  .contacts  {
    display: flex; 
    align-items: center;
  }
  
   .contacts-item {
    margin-left: 40px;
  
  }
  
  .contacts-item:first-child {
    margin-left: 0;
  }

}
@media screen and (min-width: 768px) {
.hero {
  max-width: 1440px; margin: 0 auto;
  background-color:  #2E2F42;
  padding: 112px 0;
  text-align: center;
  background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/decks1.png);
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   }  

    @media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-width: 768px) {
 .hero {
  background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/deck2.png);}
} 


.features-list {


  display: flex;
  
  flex-wrap: wrap;


}
.features-item {
  flex-basis: 50%;
}
.item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-primary-color);
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  
}
.social-list-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}



/* ОКРЕМО СЕКЦІЯ ФЕЧУРЕС З АНТЕНОЮ */
 
.item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-primary-color);
  margin-bottom: 8px;
  text-align: center;
  
  
}

.description {
  
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
margin-bottom: 8px;
color: #434455;

 } 

 .features {
  padding-top: 96px;
  padding-bottom: 96px;
}   
 
@media screen and (max-width: 767px) {
  .item-title  {
      text-align: center;
  }

  .features-item:not(:last-child) {
      margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-item:nth-child(-n+2) {
      margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
      display: flex;
      flex-wrap: wrap;
  }

  .features-item {
      flex-basis: calc((100% - 24px)/2);
  }

  .features-item:nth-child(2n+1) {
      margin-right: 24px;
  }
  
}


@media screen and (min-width:1200px) {
  .features {
      padding-top: 120px;
      padding-bottom: 60px;
  }

  .item-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      line-height: 102%;
  }

  .description {
      font-weight: 400;
  }

  .features-item {
      flex-basis: calc((100% - 72px)/4);
  }

  .features-item:not(:last-child) {
      margin-right: 24px;
  }

  .features-item::before {
      /* display: block; */
      content: "";
      height: 112px;
      border-radius: 4px;
      background-color: var(--logo-dark-thema);
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 8px;
  }

  .features-icons {
    background-color: #F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    
  }
}
/* секція фейчурес закриваємо правило дл стилів які не потрібні */
@media screen and (max-width: 1220px) {
  .features-icons {
    display: none;
  }
  
}


/* works*/
/*---------------What are we doing---------------*/

@media screen and (max-width: 1199px) {
  .works {
  display: none;
  }
}


@media screen and (min-width:1200px) {

  .section-title {
      font-weight: 600;
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: 0.02em;
      text-align: center;
      text-transform: capitalize;
      color: var(--title-color);
  }

  .works-list {
      display: flex;
      justify-content: center;
  }

  .works {
      padding-top: 60px;
      padding-bottom: 120px;
     
  }

  .works-item {
      border: 1px solid var(--dark-theme-text);
  }

  .section-title {
  margin-bottom: 72px;

  }

  .works-item:not(:last-child) {
    margin-right: 24px;
}
}

@media screen and (max-width: 768px) {
  
.team-item {
  display: block;
  justify-content: center;
  text-align: center;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;  
  line-height: 95%;   
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 72px;
}
.team-img {
  display: block;
  margin: 0 auto;
}
.team-item:not(:last-child) {
  margin-bottom: 72px;
}

}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-item {
    flex-basis: calc((100% - 24px)/2);
  }
  .item-title  {
    text-align: center;
}
.team-img {
  display: block;
  margin: 0 auto;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;  
  line-height: 95%;   
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 72px;
}
.team-item {
  display: block;
  justify-content: center;
  text-align: center;
}
}
@media screen and (min-width: 1200px) {
  .member-wrap {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    
   }
  
   .section-team {
    padding-top: 96px;
      padding-bottom: 128px;
      background-color: var(--logo-dark-thema);
   }
  
   .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;  
    line-height: 95%;   
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 72px;
  }
  
  
  .description-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 102%;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
  }
  
  .teams {
    display: flex;
    gap: 24px; 
  }
   .teams .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  }
  
  /* КУСТОМЕР */
  @media screen and (max-width: 767px) {
    .customer-section {
      padding-top: 120px;
      padding-bottom: 120px;
    }
    .customerss-icon {
      display: flex;
      flex-wrap: wrap;
      column-gap: 16px; 
      row-gap: 72px;  
    } 
    .customers-li {
      flex-basis: calc((100% - 24px)/2);
    }
    
    .customers-li {
      width: 190px;
      height: 88px;
      cursor: pointer;
      margin: 0;
      padding: 0;
      border-radius: 4px;
    }
    
      
    .customers-use {
      border: 1px solid #8e8f99;
      height: 100%;
      width: 100%;
      fill: #8e8f99;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
     .customer-section .item-title {
      font-weight: 600;
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--title-primary-color); 
       }
     .customers-use:hover,
     .customers-use:focus {
      color: #4d5ae5;
      border: 1px solid #4D5AE5;
      fill: currentColor;
     }  
    
    } 
    @media screen and (min-width: 768px) {
      .customers-li {
        width: 190px;
        height: 88px;
        cursor: pointer;
        margin: 0;
        padding: 0;
        border-radius: 4px;
      }
      
        
      .customers-use {
        border: 1px solid #8e8f99;
        height: 100%;
        width: 100%;
        fill: #8e8f99;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
      }
      
       .customer-section .item-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-primary-color); 
         }
       .customers-use:hover,
       .customers-use:focus {
        color: #4d5ae5;
        border: 1px solid #4D5AE5;
        fill: currentColor;
       }  
      .customer-section {
        padding-top: 120px;
        padding-bottom: 120px;
      }
      .customerss-icon {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px; 
        row-gap: 72px;  
        justify-content: center;
      } 
      .customers-li {
              flex-basis: calc((100% - 24px)/4);
        }
      }
    


@media screen and (min-width:1200px) {
  
 .customer-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customerss-icon {
  display: flex;
  gap: 24px;  
  flex-wrap: nowrap;
} 

.customers-li {
  width: 168px;
  height: 88px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 4px;
} 
 
.customers-use {
  border: 1px solid #8e8f99;
  height: 100%;
  width: 100%;
  fill: #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),  border 250ms cubic-bezier(0.4, 0, 0.2, 1),  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .customer-section .item-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-primary-color); 
   }

 .customers-use:hover,
 .customers-use:focus {
  color:#404BBF;
  border: 1px solid #404BBF;
  fill: currentColor;
 }   

}
/*********************** Footer ************************/


@media screen and (max-width:767px) {
  
  .footer {
    background-color: var(--title-primary-color);
    padding: 96px 0;
  }
  .logo-footer {
    color: var(--background-primary-color);
  }
  
  .footer-desc {
    width: 264px;
    margin-top: 16px;
    color: #F4F4FD;
    font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
  } 
  
  /* footer decoration ---------------------------*/
  
   .footer .conteiner {
    display: block;
  }
  .footer-decoration {
    text-align: center;
  }
  .footer-icon-div {
    text-align: center;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-icon-text {
    letter-spacing: 0.02em;
    line-height: 24px;
    margin-bottom: 16px;
  }
  
  .footer-social {
    display: flex;
    gap: 16px;
  }
  
  .footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-icon-link:hover,
  .footer-icon-link:focus {
    background-color: #31d0aa;
  } 


  
 /* mailing--------------- */

 .mailing-form {
  display: block;
  justify-content: space-between;
  padding-top: 16px;
}

/* MAILING------------------------ */

.mailing-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 72px;
}

.mailing-input {
  min-width: 396px;
    margin: auto;
  padding: 8px 16px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.mailing-input:hover,
.mailing-input:focus {
  border: 1px solid rgba(77, 90, 229, 1);
}

.mailing-btn {
  outline: none;
  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 16px;
  background-color: rgba(77, 90, 229, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
}

.icon-send {
  margin-left: 16px;
  fill: rgba(255, 255, 255, 1);
}
.text_centre {
display: flex;
text-align: center;
justify-content: center;
}
.center {
  display: flex;
    flex-direction: column;
    align-items: center;
}
.mailing {
  display: flex;
flex-direction: column;
align-items: center;
outline: none;
} 
}




@media screen and (min-width: 768px) { 
  .footer-decoration {
    flex-wrap: wrap;
  }
  .footer {
    background-color: var(--title-primary-color);
    padding: 100px 0;
  }
  .logo-footer {
    color: var(--background-primary-color);
  }
  
  .footer .logo {
    margin-bottom: 188px;
  }
  
  .footer-desc {
    width: 264px;
    margin-top: 16px;
    color: #F4F4FD;
  } 
  
  /* footer decoration */
  
    .footer .conteiner {
    display: flex;
    padding-left: 108px;
    flex-wrap: wrap;
  }
  .footer-icon-div {
    width: 208px;
    height: 80px;
    margin-left: 24px;
  }
  
  .footer-icon-text {
    letter-spacing: 0.02em;
    line-height: 24px;
    margin-bottom: 16px;
  }
  
  .footer-social {
    display: flex;
    gap: 16px;
  }
  
  .footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-icon-link:hover,
  .footer-icon-link:focus {
    background-color: #31d0aa;
  } 
  
   /* MAILING----------------- */
  
   .mailing-title {
    margin-top: 72px;
    margin-bottom: 16px;
    margin-left: 80px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .mailing-form {
    display: flex;
    justify-content: space-between;
  }
  
  .mailing-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
  }
  
  .mailing-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .mailing-input:hover,
  .mailing-input:focus {
    border: 1px solid rgba(77, 90, 229, 1);
  }
  
  .mailing-btn {
    width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
  
    background-color: rgba(77, 90, 229, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    border: none;
  }
  
  .icon-send {
    margin-left: 16px;
    fill: rgba(255, 255, 255, 1);
  } 
  
}






/*======================== modal=========================== */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
   background-color: rgba(46, 47, 66, 0.4); 
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 50%;
left: 50%;
max-width: 392px;
height: 576px;
background-color: #FCFCFC;

transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 72px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (min-width: 428px) {
  .modal {
    width: 408px;
  }
}


.modal-close-btn {
  position:absolute;
  top:24px;
  right: 24px;
  display: flex;
  
justify-content: center;
align-items: center;
width: 24px;
height: 24px;
border-radius: 50%;

  background-color: transparent;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}




.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404BBF;
border-color: #404BBF;
}




.modal-close-btn:hover .moda-close-btn-icon,
.modal-close-btn:focus .moda-close-btn-icon {
  fill: #F4F4FD;
 
}

.moda-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
/*//////////////////////MODAL FORM//////////////////////////// */
.modal-form {
display: flex;
flex-direction: column;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);;
  border-radius: 4px;
  padding-left: 38px;
  transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
  font-weight: 400px;
  color:  #8E8F99;
}
.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-icon {
  display: block;
  width: 12px;
  height: 12px;
  color: #2e2f42;
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-wrapper{
  position: relative;
}

.modal-form-input:focus {
  outline: none;
  border-color: #4D5AE5;
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: #4D5AE5;
}
/* texteriy */
.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
 padding: 8px 16px;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 border-radius: 4px;
}

.modal-form-message:focus {
  outline: none;
  border-color: #4D5AE5;
}
.modal-form-message::placeholder{
  font-size: 12px;

color: rgba(117, 117, 117, 0.5);
}

/* checkbox */
.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #404BBF;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}
.moda-form-check:checked + .modal-form-check-desc::before {

  background-color: rgba(77, 90, 229, 1);
  background-image:url(../images/vectorsuper.svg);
  border: 1.25px solid #4D5AE5;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #757575;
margin-bottom: 24px;

}

.modal-form-submit {
  outline: none;
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 56px;
  
background-color: #4D5AE5;
color: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.04em;
  
}
.modal-form-submit:focus,
.modal-form-submit:hover {
  background: #404BBF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.modal-title {
   color: #2e2f42;
   margin-bottom: 34px;
}



.privat-form {
  text-decoration: none;
  color: rgba(77, 90, 229, 1);
 }
 




.mailing-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px; 
  margin-right: 24px;
  
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
  transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 1200px) {
  
.footer {
  background-color: var(--title-primary-color);
  padding: 100px 0;
}
.logo-footer {
  color: var(--background-primary-color);
}

.footer .logo {
  margin-bottom: 188px;
  
}

.footer-desc {
  width: 264px;
  margin-top: 16px;
} 

/* footer decoration */

.footer .conteiner {
  display: flex;
  flex-wrap: nowrap;
}
.footer-icon-div {
  width: 208px;
  height: 80px;
  margin-left: 120px;
}

.footer-icon-text {
letter-spacing: 0.02em; 
line-height: 24px;
margin-bottom: 16px;
} 


.footer-social {
  display: flex;
  gap: 16px;

}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31D0AA;
}


/* div class mailing */


.mailing-form {
  display: flex;
  justify-content: space-between;
}

.mailing-title {
  margin-bottom: 16px;
  margin-left: 80px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0;
}

.mailing-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px; 
  margin-right: 24px;
  margin-left: 80px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #FFFFFF;


}
.mailing-input::placeholder {
  color:  rgba(255, 255, 255, 0.6);


}

.mailing-input:hover,
.mailing-input:focus {
  border: 1px solid rgba(77, 90, 229, 1);
}

.mailing-btn {
  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 56px;

  background-color: rgba(77, 90, 229, 1);
  color:rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
}

.icon-send {
  margin-left: 16px;
  fill: rgba(255, 255, 255, 1);
}


  
}
